*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-image: url(images/wallpaperflare.com_wallpaper\ \(5\).jpg); */
    
    width: 100%;
    height: 100vh;
}

nav{
    border: 1px solid black;
    border: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    position: relative;
    justify-content: space-between;
    padding: 10px 0px;
    display: flex;
    background-color: darkgoldenrod;
}
nav{
    position: sticky;
    top: 0;
    right: 0;
}
li{
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    margin: 5px;
}
ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
}
nav li a:hover{
    box-shadow: 0 0 5px white,0 0 10px 0 0 15px white;
    color: black;
    cursor: pointer;
    background-color: white;
    padding: 5px 3px;
    border-radius: 10px;
    font-weight: bold;
}
/* nav li:hover{
    : 0
     5px white,0 0 10px 0 0 15px white;
} */
em a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#image img{
    width: 100%;
    height: 80vh;
    border-radius: 25px;  
    margin-left: 50%; 
    margin-top: 5vh;
}
@keyframes example{
    from{color: green;}
    to{color: blue;}
}
#Home h3{
    font-size: 1rem;
    color: white;
    margin-left: 25%;
    margin-top: 40vh;
}
#Home h3 i{
    color: white;
    font-size: 2.5rem;
    animation-duration: 4s;
    animation-name: example;
}
#Home{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#Home button{
    text-align: center;
    padding: 8px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    
}
#Home button i{
    color: black;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#Home button a:hover{
    color: blue;

}
#Home button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .2s ease;
}
header{
    border: 1px solid black;
    padding: 10px 0;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    border: none;
    text-align: center;
    justify-content: center;
    margin-top: 0.5%;
}
#abo{
      /* border: 1px solid black; */
    padding: 10px 0;
    background-color: gray;
    font-weight: bold;
}
#About{
    display: flex;
    margin-top: 5%;

}
#About button{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}
#About img{
    display: flex;
    width: 50%;
    height: 100vh;
    border-radius: 25px;
    margin-left: 20px;
}
#About p{
    margin-left: 5%;
    font-size: 2rem;
    margin-top: 3%;
    

}
#About p i{
    color: cadetblue;
    font-size:3rem;
    font-family: century;
}
#Skills{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -0.5%;
}

#flex{
    padding: 5px 2px;

}
#flex em{
    margin-top: 30%;
    font-size: 2rem;
    color: darkcyan;
}
#flex button{
    font-size: 1rem;
    margin: 1%;
    padding: 5px;
    color: white;
    background-color: dodgerblue;
    border: none;
    opacity: 0.7;
    border-radius: 10px;
}
/* main img{
    margin-top: 5vh;
    /* animation: move 2s linear infinite; */


#fir img{
    border: 1px solid black;
    width: 40%;
    height: 10vh;
    border-radius: 50px;
    
}
#Skills #red{
    margin-top: 0.5%;
    width: 50%;
    height: 100vh;
    transition: opacity 0.4s ease-in-out 0s, transform 0.4s ease 0s;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease;
    transition-delay: 0s, 0s;
    transition-property: opacity, transform;
    display: block;
}
main img{
    margin: 5%;

}
main{
    margin-top: -10%;
}
#pro{
    border: 1px solid black;
    padding: 10px 0;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    border: none;
    text-align: center;
    justify-content: center;
    margin-top: -0.5%;
    /* position: absolute; */
}
#Projects{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
#Projects1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
}
#Projects img{
    width: 90%;
    height: 60vh
}
#Projects1 img{
    width: 90%;
    height: 60vh
}
#Contact{
   
    text-align: center;
    margin: 3% ;
    display: block;
    /* align-items: center; */
}
#Contact2{
    display: block;
    text-align: center;
    margin: 3% ;
}
hr{
    width: 50%;
    text-align: center;
    align-items: center;
    margin: auto;
}
#Contact a{
    margin-top: 5vh;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 2rem;
    margin: 5%;
}
#Contact2 a{
    margin-top: 5vh;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 2rem;
    margin: 5%;
}
#Contact a:hover{
    padding: 5px;
    border: none;
    color: black;
    /* border: 1px solid blue; */
    font-weight: bold;
    /* border: none; */
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: cadetblue;
}
#Contact2 a:hover{
    padding: 5px;
    border: none;
    color: black;
    /* border: 1px solid blue; */
    font-weight: bold;
    /* border: none; */
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: cadetblue;
}

nav button{
    font-size: 1rem;
    
    display: block;
    float: left;
}
@keyframes right {
    from{
        transform: translate(-300px);
    }

    to {
        transform: translate(0);
    }
}
#Project{
    animation-name: right;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    transform: translateX(-150px);
}
